[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "multimode"]
	path = multimode
	url = https://github.com/cran/multimode
	shallow = true
	registered = true
